{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Comment Classification
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Welcome to the Comment Classification Tool!</h1>

      <p class="lead">This is the index page for an example for Vietnamese Comment Classification.The input is required.</p>

      {{ wtf.quick_form(form) }}
{#        <form class="form form-horizontal" method="post" role="form">#}
{#             {{ wtf.form_field(form.name) }}#}
{#             {{ wtf.form_field(form.submit) }}#}
{#             {{ wtf.form_field(form.file) }}#}
{#        </form>#}
      <p class="pt-5"><strong>{{ message }}</strong></p>


    </div>
  </div>
</div>

{% endblock %}
